table {
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd):not(:first-child) {
    border: none;
    background-color: #dce0dc67;
}

td:not(:nth-child(1)) {
    padding: 10px 10px;
}

td:nth-child(1),th {
    width: 200px;
    padding: 7px 10px;
}

td:nth-child(2) {
    text-align: right;
}
button {
    display: inline-block;
    background-color: #82a584;
    color: rgb(245, 246, 239);
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

input{
    display: inline-block;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 4px;
}
